<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-danger">
                <h2 class="card-title">Reporte De Actividades </h2>
                    <p class="card-category">Ahora Puede Filtrar Segun Fecha </p>
            </div>
        <div class="card-body">
            <div id="typography">
                <div class="card-title">
                    <ul class="list-group">
                    <li class="list-group-item">
            <div class="row">
                <div class="col-md-6 mt-2">
                    <label>Fecha Inicio {{getFecha1}}</label>
                    <label for="example-datetime-local-input" class="col-2 col-form-label"></label>
                    <div>
                        <input class="form-control" type="date" id="input1" [(ngModel)]="getFecha1" (keyup.enter)="CambioFecha1()">
                    </div>
                </div>       
            </div>
                <div class="row">
                    <div class="col-md-6 mt-2">
                        <label>Fecha Final</label>
                            <label for="example-datetime-local-input"  class="col-2 col-form-label"></label>
                        <div>
                            <input class="form-control" type="date" id="input2" [(ngModel)]="getFecha2" (keyup.enter)="CambioFecha2()">
                        </div>
                    </div>       
                </div>

         <div class="modal-footer" >
            <button type="button"  (click)="getReposteBitacoraRango(getFecha1, getFecha2)" class="btn btn-success" data-dismiss="modal"  data-toggle="modal" data-target="#exampleModal" >Mostrar Tabla</button>
           </div>
            </li>
              </ul>
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header card-header-danger">
                        <h3 class="modal-title" id="exampleModalLabel">Reporte Bitacora {{obtenerDatosBitacora.bitacoraFecha}}</h3>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                              </button>
                              </div>
                               <div class="modal-body">
                                 
                                
                                    <div class="table-responsive">
                                            <table class="table">
                                                <thead class=" text-primary">
                                                    <th>
                                                        Fecha
                                                    </th>
                                                    <th>
                                                       Hora Inicio
                                                    </th>
                                                    <th>
                                                        Hora Final
                                                    </th>
                                                    <th>
                                                        Categoria Actividad
                                                    </th>
                                                </thead>
                                                <tbody *ngFor="let indexBitacora of obtenerDatosBitacora, index as i">
                                                    <tr>
                                                        <td>
                                                            {{indexBitacora.bitacoraFecha}}
                                                        </td>
                                                        <td>
                                                            {{indexBitacora.bitacoraHoraInicio}}
                                                        </td>
                                                        <td>
                                                                {{indexBitacora.bitacoraHoraFinal}}
                                                        </td>
                                                        <td class="text-primary">
                                                                {{indexBitacora.category.categoryNombre}}
                                                        </td>
                                                    </tr>
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                </div>
                                <div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    </div>
                    </div>
                    </div>
                  </div>
                </div>


<!---->